html,
body,
#outsell-auth-user-login-page-wrapper,
#outsell-auth-user-login-page,
#outsell-auth-user-login-main-wrapper,
#outsell-auth-user-login-main,
#outsell-auth-user-login-content {
  height: 100%;
}

.outsell-auth-user-login-section {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.outsell-auth-user-login-pre-text {
  margin-bottom: 1em;
  color: #999999;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-family: "FuturaBT-Book", sans-serif;
}

.outsell-auth-user-login-post-text {
  margin-top: -2.5em;
  color: #999999;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-family: "FuturaBT-Book", sans-serif;
}

.outsell-auth-user-login-content-wrapper #user-register-form {
  background: inherit;
  padding: inherit;
  display: inherit;
  margin-bottom: inherit;
}

.outsell-auth-user-login-content-wrapper #user-pass {
  background: inherit;
  padding: inherit;
  display: inherit;
  margin-bottom: inherit;
}

.outsell-auth-user-login-content-wrapper #user-login {
  background: inherit;
  padding: inherit;
  display: inherit;
  margin-bottom: inherit;
}
